@import "partials/_recipes";

.layout {
    width: 100%;
    max-width: 800px;
    padding: 30px;
    background: #ebebeb;
    margin: 0 auto;
  }

body {
    background: darkgrey;
}

h1 {
    margin-top: 20px;
}